<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mainstyle.css">
    <link rel="stylesheet" href="static/resp.css">
    <title>Join Us</title>
</head>
<body>
    <p>RecruPortal</p>
    <nav class="navbar nav-height-resp">
        <ul class="navlist v-class-resp">
                <li><a href="\">Home</a></li>
                <li><a href="candireg">Login as Candidate</a></li>
                <li><a href="complogin">Login as Company</a></li>
        </ul>
        <div class="rightnav v-class-resp">
                <a href="about">About Us</a>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background first-section">
        <div class="form-box">
            <h3>Register your company here</h3>
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="comp_login()">Existing User</button>
            </div>
            <form  id="register" class="input-group" action="/compreg" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    <strong>{{error}}</strong>
                </div>
                {% endif %}
                <br>
                Company Name: <input type="text" class="input-field" placeholder="Full Name" name="cname" id="cname" value="{{values.cname}}" required><br>
                Company Email: <input type="text" class="input-field" placeholder="abc@gmail.com" name="cemail" id="cemail" value="{{values.cemail}}" required>
                Password: <input type="password" class="input-field" id="cpasswd" name="cpasswd" required><br>
                Company Phone: <input type="number" id="cphn" class="input-field" placeholder="0123456789" name="cphn" value={{values.cphn}} required>
                Address: <input type="text" class="input-field" id="caddr" name="caddr" value={{values.caddr}} required><br>
                City: <input type="text" class="input-field" id="ccity" name="ccity" value={{values.ccity}} required>
                State: <select class="input-field" id="cstate" name="cstate" value={{values.cstate}} required>
                    <option selected>Choose...</option>
                    <option>Andhra Pradesh</option>
                    <option>Arunachal Pradesh</option>
                    <option>Assam</option>
                    <option>Bihar</option>
                    <option>Chhattisgarh</option>
                    <option>Goa</option>
                    <option>Gujarat</option>
                    <option>Haryana</option>
                    <option>Himachal Pradesh</option>
                    <option>Jharkhand</option>
                    <option>Karnataka</option>
                    <option>Kerala</option>
                    <option>Madhya Pradesh</option>
                    <option>Maharashtra</option>
                    <option>Manipur</option>
                    <option>Meghalaya</option>
                    <option>Mizoram</option>
                    <option>Nagaland</option>
                    <option>Odisha</option>
                    <option>Punjab</option>
                    <option>Rajasthan</option>
                    <option>Sikkim</option>
                    <option>Tamil Nadu</option>
                    <option>Telangana</option>
                    <option>Tripura</option>
                    <option>Uttar Pradesh</option>
                    <option>Uttarakhand</option>
                    <option>West Bengal</option>
                </select>
                Zip: <input type="number" class="input-field" id="czip" pattern="[0-9]{3}-[0-9]{3}" name="czip" value={{values.czip}} required><br>
                <button class="submit-btn" type="submit" value="Register">Register</button>
            </form>
        </form>
        </div>
    </section>
    <section class="contact">
        Contact Us
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <script src="static/responsive.js"></script>
</body>
</html>