<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mainstyle.css">
    <link rel="stylesheet" href="static/resp.css">
    <title>Join Us</title>
</head>
<body>
    <p>RecruPortal</p>
    <nav class="navbar nav-height-resp">
        <ul class="navlist v-class-resp">
                <li><a href="\">Home</a></li>
                <li><a href="#">Login as Candidate</a></li>
                <li><a href="complogin">Login as Company</a></li>
        </ul>
        <div class="rightnav v-class-resp">
                <a href="about">About Us</a>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="first-section">
        <div class="form-box-fgt">
            <form  id="register" class="input-group-fgt" action="password_reset_done/" method="POST">
                {% csrf_token %}
                Email: <input type="text" class="input-field-fgt" placeholder="abc@gmail.com" name="eemail" id="femail" required>
                <button class="fgt-btn" type="submit" value="Register">Send Email</button>
            </form>
            
        </form>
        </div>
    </section>
    <section class="contact">
        Contact Us
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <script src="static/responsive.js"></script>
</body>
</html>