<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/mainstyle.css">
    <link rel="stylesheet" href="static/resp.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <p>RecruPortal</p>
    <nav class="navbar nav-height-resp">
        <ul class="navlist v-class-resp">
                <li><a href="\">Home</a></li>
                <li><a href="candilogin">Login as Candidate</a></li>
                <li><a href="complogin">Login as Company</a></li>
        </ul>
        <div class="rightnav v-class-resp">
                <a href="about">About Us</a>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="background first-section">
        <div class="box-main">
            <div class="textbig">
                Digital Ocean<br>
            </div>
            <div class="textsmall">
                The world is being digitalize everyday. To fit into this world make yourself a part of this world by using our application. No need of looking for jobs here and there when you can search for the job of your choice right here.
            </div>
        </div>
    </section>
    <br>
    <br>
    <section class="secright">
        <div class="paras">
        <p1 class="tag">No Manual Work</p1><br>
        <p1 class="subtag">Ain't it gives you a lot of stress to go through each and every CVs and select the best of it? 100s of people apply for your company's job position wherein you are only needed to select a few of them. Our aim is to ease out this process. Now no need to give much stress to your brain and simply be a part of our community. With our platform you do not need to worry about choosing the best candidate as our application will shortlist the best of all applications among the ones applied for your job position.
        </p1>
        </div>
        <div class="thumbnail">
            <img src="static/images/manual_work.png">
        </div>
    </section>
    <section class="secleft">
        <div class="paras">
        <p1 class="tag">More Accuracy</p1><br>
        <p1 class="subtag">Going through a huge number of CVs and shortlisting one is definitely a difficult tasks. At some point, your brain will definitely give up. It is not even like getting all the application in one day. Everyday a new application arrives which you need to take a look on it. Huge work load right? There might me chances making mistakes in choosing the right one. But with us, you don't have to worry about this. Our system will automatically update the information as soon as a new application arrives with shear perfection.</p1>
        </div>
        <div class="thumbnail">
            <img src="static/images/accuracy.png">
        </div>
    </section>
    <section class="secright">
        <div class="paras">
        <p1 class="tag">Storage</p1><br>
        <p1 class="subtag">This is a digital world. Still sometimes you need to provide hard copies of your academic transcripts, your CV, and all other certificates. It is a huge mess to store all the hard copies properly. But now, this problem is totally overcomed because everything is digital here. Simply scan the documents, and upload on your drive. Share your drive link and your work is done.
        </p1>
        </div>
        <div class="thumbnail">
            <img src="static/images/storage.png">
        </div>
    </section>
    <section class="secleft">
        <div class="paras">
        <p1 class="tag">Know the personality</p1><br>
        <p1 class="subtag">While you go through the CVs in traditional way, you don't get to know the personality of that candidate. If you choose to be a member of our community, you will have a basic knowledge of the personality and approach of that person in certain situations. Also, you will understand the basic apptitude of the candidate in IT and Computing field.
        </p1>
        </div>
        <div class="thumbnail">
            <img src="static/images/personality_unawareness.png">
        </div>
    </section>
    <br>
    <br>
    <br>
    <section class="contact">
        Contact Us
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <script src="static/responsive.js"></script>
</body>
</html>