<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/quizstyle.css">
    <title>Instructions</title>
</head>
<body>
    <nav class="navbar nav-height-resp">
        <div class= "leftnav v-class-resp">RecruPortal</div>
    </nav>
    <div class="info_box">
        <div class="info-title"><span>You are supposed to complete this Aptitude Test. <br>
        Please read all the instructions carefully before starting with the test.</span></div>
        <div class="info-list">
            <div class="info">1. You will get only <span>5 minutes</span> to solve the test.</div>
            <div class="info">2. You can select the answer only once.</div>
            <div class="info">3. Once time goes off you are not allowed to select any answer.</div>
            <div class="info">4. Once you start the test you are not allowed to go back.</div>
            <div class="info">5. You can only take this test once at the time of your registration.</div>
            <div class="info">6. Your scores will be reflected in your profile and your calibre will be judged on that basis.</div>
            <div class="info">7. For more information <a href="about">Click Here</a>.</div>
        </div>
        <a href="quiz"><button class="continue" type="button">Continue</button></a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section class="contact"></section>
    <script src="static/responsive.js"></script>
</body>
</html>